@font-face {
    font-family: 'Pokemon';
    src: url('pokemon_letra/Pokemon\ Hollow.ttf'), url('pokemon_letra/Pokemon\ Solid.ttf') format('truetype');
}

body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 0, 0);
    color: black;
}
header{
    margin: 0px;
    color: black;
}
header img{
    position: absolute;
    display: flex;
    justify-content: space-between; /* distribuye las imágenes */
    margin: 0px;
    height: 45vh;
    width: 100vw;
    z-index: -1;
}
header h1{
    display: flex;
    padding:10px;
    margin: 0px;
    justify-content: center;
    font-size: 70px;
    font-family: 'Pokemon';
    color: #FFCC00; /* Color amarillo */
    text-shadow: 2px 2px #000000; /* Sombras similares */
    transform: translateY(40%);
    z-index: 999;
}
header p {
    display: flex;
    padding: 10px;
    margin-bottom: 30px;
    justify-content: center;
    color: #f8f838;
    text-shadow: 2px 2px hsl(248, 96%, 56%);
    transform: translateY(50%);
    font-size: 25px;
    z-index: 999;
}
nav {
    position: relative;
    top: 70px;
    padding: 20px;
    background-color: rgba(44, 44, 44, 0.968);
}

.barra-nosotros button {
    background-color: #f81e1e;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    

}

#desarrolladores {

    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#desarrolladores p {

    margin: px 0;
}

aside {
    background-color: rgb(255, 255, 255);
    margin: 85px 20px 40px 20px;
    padding: 20px;
    border-radius: 1%;
}



label {
    margin-right: 10px;
}

input {
    margin-right: 10px;
}

#pokemonList {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    gap: 20px;
}
#filters {
    position: relative;
    margin-bottom: 20px;
}
#nameFilter {
    font-size: 17px;
    height: 17px;
    width: auto;
}
#perfil {
    position: absolute;
    height: 50px;
    width: 50px;
    right: 40px;
    top: 10px;
    cursor: pointer;
}
#sesion_iniciada{
    position: absolute;
    right: -1px;
    top: 10px;

}


.close {
    color: #ff0000;
    position: absolute;
    font-size: 30px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 9999;
}

.hidden {
    display: none;
}
/* Estilos del menu y el div y barra*/

.nav-item.dropdown{
    
    right: 5%;
    position: absolute;
    
    
}
.nav-item .dropdown-menu {
    position: absolute !important; /* Forzar la posición */
    inset: 40px 0px auto auto !important; /* Configurar las coordenadas */
    margin: 0px !important; /* Remover márgenes adicionales */
    transform: translate(0px, 26px) !important; /* Aplicar el desplazamiento */
}
element.style {
    position: absolute;
    inset: 110px 0px auto auto;
    margin: 0px;
    transform: translate(0px, 26px);
}
.dropdown-menu{
    inset: 110px 0px auto auto;
    position: absolute;
    top: 10%;
    --bs-dropdown-link-active-bg: #fcfbfb;

    background-color: #e9e8e8;
}
.overlay-image {

    z-index: 2; /* Capa superior */
}
.dropdown-toggle::after {
    visibility: hidden;
    
}

.barra{
    background-color: #2beccc;
    
}


/* Estilos del modo oscuro */
body.other-mode {
    background-color: rgb(51, 50, 50);
    color: #1a1919;
    
}
header.other-mode {
    background-color: #333;
}
nav.other-mode {
    background-color: rgba(101, 101, 101, 0.881);
}
aside.other-mode {
    background-color: rgba(175, 175, 175, 0.881);
}
button.other-mode {
    background-color: #535353;
    color: rgb(228, 228, 228);
}
.pokemon-card.other-mode {
    background-color: rgb(129, 129, 129);
    box-shadow: 0 0 5px rgba(197, 36, 36, 0.1);
    color: white;
}
.dropdown {
    position: absolute;
    right: 40px;
    top: 70px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
}
.dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.dropdown li {
    padding: 10px;
}
.dropdown li a {
    color: black;
    text-decoration: none;
}
.dropdown li a:hover {
    background-color: #eee;
}
.hidden {
    display: none;
}
#profileDropdown {
    position: absolute;
    right: 40px;
    top: 70px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(185, 173, 5);
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
}
footer {
    background-color: rgba(0, 0, 0, 0.2); /* Fondo translúcido */
    padding: 3rem;
}
footer .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center; /* Centra las columnas horizontalmente */
    align-items: flex-start; /* Alinea las columnas al inicio verticalmente */
    gap: 15rem; /* Espacio entre columnas */
    color: #000000; /* Color del texto */
}
footer h5 {
    font-size: 1.5rem;
    color: #000; /* Color del título */
    margin-bottom: 1rem;
    text-align: center; /* Centra los títulos */
}
footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
footer ul li {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}
footer .text-center {
    margin-top: 2rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.1); /* Fondo translúcido para la parte inferior */
    font-size: 0.9rem;
    text-align: center;
}
footer .text-center a {
    color: #333; /* Enlace oscuro */
    font-weight: bold;
    text-decoration: none;
}
footer .text-center a:hover {
    text-decoration: underline;
}
/* Estilo del botón */
#aboutUsButton {
    display: flex;
    align-items: center;
    background-color: #ffcc01; /* Color de fondo */
    border: none;
    position: relative;
    top: 70px;
    left: 25px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    font-family: Arial, sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#aboutUsButton:hover {
    background-color: #e6b800; /* Color al pasar el mouse */
}
/* Estilo del ícono de Pokébola */
.pokeball-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px; /* Espacio entre el ícono y el texto */
}
.about-text {
    flex: 2;
    padding: 1rem;
}



.about-text h2 {
    color: #c21807;
    font-size: 1.8rem;
    text-shadow: 2px 2px 0 #ffe166, -1px -1px 0 #ffd700;
}

.about-text p {
    font-size: 1.1rem;
    margin: 0.5rem 0;
    line-height: 1.6;
}

.about-text em {
    color: #0072ce;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px 0 #fff;
}
.pokeball-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

.pokeball-image {
    width: 20px;
    height: 20px;
    margin-right: 10px; /* Espacio entre la Pokébola y el texto */
}
.barraAbout {
    margin-top: -60px; /* Ajusta el valor según sea necesario */
    margin-bottom: 80px;
    color: #ffffff;
}

.hidden {
    display : none;
}

.visible {
    display: block;
}

aside header {
    background-color: #333;
    color: white;
    text-align: start;
    padding: 10px;
    
    bottom: 0;
    width: 100%;
}

aside button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

aside button:hover {
    background-color: #777;
}