@font-face {
    font-family: 'Pokemon';
    src: url('pokemon_letra/Pokemon\ Hollow.ttf'), url('pokemon_letra/Pokemon\ Solid.ttf') format('truetype');
}

body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 0, 0);
    color: black;
}
header{
    margin: 0px;
    color: black;
}
header img{
    position: absolute;
    display: flex;
    justify-content: space-between; /* distribuye las imágenes */
    margin: 0px;
    height: 45vh;
    width: 100vw;
    z-index: -1;
}
header h1{
    display: flex;
    padding: 10px;
    margin: 0px;
    justify-content: center;
    font-size: 70px;
    font-family: 'Pokemon';
    color: #FFCC00; /* Color amarillo */
    text-shadow: 2px 2px #000000; /* Sombras similares */
    transform: translateY(40%);
    z-index: 999;
}
header p {
    display: flex;
    padding: 10px;
    margin-bottom: 30px;
    justify-content: center;
    color: #f8f838;
    text-shadow: 2px 2px hsl(248, 96%, 56%);
    transform: translateY(50%);
    font-size: 25px;
    z-index: 999;
}
nav {
    padding: 20px;
    background-color: rgba(44, 44, 44, 0.968);
}
aside {
    background-color: rgb(255, 255, 255);
    margin: 30px 20px;
    padding: 20px;
    border-radius: 1%;
}

form {
    margin-bottom: 10px;
    position: absolute;
    right: 10px;
}

label {
    margin-right: 10px;
}

input {
    margin-right: 10px;
}

#pokemonList {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    gap: 20px;
}
#filters {
    position: relative;
    margin-bottom: 20px;
}
#nameFilter {
    font-size: 17px;
    height: 17px;
    width: 900px;
}
#perfil {
    position: absolute;
    height: 50px;
    width: 50px;
    right: 40px;
    top: 10px;
    cursor: pointer;
}

.pokemon-card {
    width: 200px;
    height: 300px;
    background-image: linear-gradient(to bottom, rgba(244, 244, 244, 0.881) 50%, rgba(179, 179, 179, 0.881) 70%);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #000000;
    border: solid 2px black;
}
.pokemon-card img {
    width: 190px;
    height: 200px;
    border-radius: 10px;
}
.pokemon-card:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.modalPokemon {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.modalPokemon.grass-mode{
    background-color: rgba(144, 247, 100, 0.967);
}
.modalPokemon.fire-mode{
    background-color: rgb(255, 86, 57);
}
.modalPokemon.water-mode{
    background-color: rgba(164, 213, 248, 0.979);
}
.modalPokemon.bug-mode{
    background-color: rgb(92, 159, 112);
}
.modalPokemon.bug_flying-mode{
    background-color: rgb(136, 191, 175);
}
.modalPokemon.bug_poison-mode{
    background-color: rgb(157, 98, 155);
}
.modalPokemon.normal-mode{
    background-color: rgb(117, 103, 69);
}
.modalPokemon.normal_flying-mode{
    background-color: rgb(143, 128, 91);
}
.modalPokemon.poison-mode{
    background-color: rgb(156, 35, 156);
}
.modalPokemon.poison_ground-mode{
    background-color: rgb(129, 94, 129);
}
.modalPokemon.electric-mode{
    background-color: rgb(248, 248, 59);
}
.modalPokemon.ground-mode{
    background-color: rgb(231, 180, 42);
}
.modalPokemon.fairy-mode{
    background-color: rgb(247, 165, 247);
}

.modalPokemon-content {
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 100px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    border: solid 2px black;
    word-wrap: break-word;
}

.modalPokemon-content h3 {
    position: absolute;
    margin: 10px 0px;
    top: -140%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: bold;
}

.modalPokemon-content #modalId {
    position: absolute;
    top: -135%;
    right: 25%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    font-weight: bold;
}
.modalPokemon-content img {
    position: absolute;
    top: -45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 190px;
    height: 190px;
    border-radius: 10px;
    border: solid 2px black;
}
.modalPokemon-content #modalType {
    color: #000000;
    margin: 20px 0px;
}

.close {
    color: #ff0000;
    position: absolute;
    font-size: 30px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 9999;
}

.hidden {
    display: none;
}


/* Estilos del modo oscuro */
body.other-mode {
    background-color: rgb(219, 219, 219);
    color: #333;
}
header.other-mode {
    background-color: #333;
}
nav.other-mode {
    background-color: rgba(101, 101, 101, 0.881);
}
aside.other-mode {
    background-color: rgba(175, 175, 175, 0.881);
}
button.other-mode {
    background-color: #535353;
    color: rgb(228, 228, 228);
}
.pokemon-card.other-mode {
    background-color: rgb(129, 129, 129);
    box-shadow: 0 0 5px rgba(197, 36, 36, 0.1);
    color: white;
}
#perfil {
    position: absolute;
    height: 50px;
    width: 50px;
    right: 40px;
    top: 10px;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    right: 40px;
    top: 70px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown li {
    padding: 10px;
}

.dropdown li a {
    color: black;
    text-decoration: none;
}

.dropdown li a:hover {
    background-color: #eee;
}

.hidden {
    display: none;
}

#profileDropdown {
    position: absolute;
    right: 40px;
    top: 70px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(185, 173, 5);
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

footer {
    background-color: rgba(0, 0, 0, 0.2); /* Fondo translúcido */
    padding: 3rem;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center; /* Centra las columnas horizontalmente */
    align-items: flex-start; /* Alinea las columnas al inicio verticalmente */
    gap: 15rem; /* Espacio entre columnas */
    color: #000000; /* Color del texto */
}

footer h5 {
    font-size: 1.5rem;
    color: #000; /* Color del título */
    margin-bottom: 1rem;
    text-align: center; /* Centra los títulos */
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

footer .text-center {
    margin-top: 2rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.1); /* Fondo translúcido para la parte inferior */
    font-size: 0.9rem;
    text-align: center;
}

footer .text-center a {
    color: #333; /* Enlace oscuro */
    font-weight: bold;
    text-decoration: none;
}

footer .text-center a:hover {
    text-decoration: underline;
}
/* Estilo del botón */
#aboutUsButton {
    display: flex;
    align-items: center;
    background-color: #ffcc01; /* Color de fondo */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    font-family: Arial, sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#aboutUsButton:hover {
    background-color: #e6b800; /* Color al pasar el mouse */
}

/* Estilo del ícono de Pokébola */
.pokeball-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px; /* Espacio entre el ícono y el texto */
}
